body {

}

h1 {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

table {
    background: lightskyblue;
}

input {
    width: 350px;
    height: 10px;
}

td {
    padding: 5px;
}

th {
    padding: 5px;
}

button {
    width: 80px;
    height: 40px;
    background-color: orange;
}

button.numb {
    width: 80px;
    height: 40px;
    background-color: chocolate;
}

button.aritmatika {
    width: 80px;
    height: 40px;
    background-color: plum;
}

p {
    padding: 10px;
    margin-left: 500px;
    margin-right: 500px;
    background: lavender;
    color: lightgray;
    font-family: lora;
}